body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6db8e9;
  margin: 0;
  padding: 0;
}
canvas {
  border: 3px solid rgb(203, 203, 203);
}

img {
  display: block;
  width: 100%;
  margin-top: 170px;
}

button {
  display: block; /* 将按钮置于新行 */
  margin: 10px auto; /* 居中按钮并添加一些外边距 */
}

.intropage-container {
  position: relative;
}

.intropage-container img{
  /* top: -20%; */
  height: auto; /* 保持图片的纵横比 */
  display: block; /* 防止图片下方出现额外空间 */
}

.start-game-container{
  position: absolute; /* 绝对定位 */
    top: 95%; /* 垂直位置，根据需要调整 */
    left: 30%; /* 水平位置，根据需要调整 */
    transform: translate(-50%, -50%); /* 使按钮居中 */
    z-index: 10; /* 确保按钮显示在图片之上 */
}

.sidebar-container-left {
  width:80px; 
  height: 670px; 
  border-radius: 30px;
  background-color: #f0a6ba; /* 您可以选择任何颜色 */
  border: 8px solid rgb(187, 246, 226);
}

.sidebar-container-right {
  /* margin-right: 10px; */
  width: 80px; 
  height: 670px; 
  border-radius: 30px;
  background-color: #f0a6ba;; 
  border: 8px solid rgb(187, 246, 226);
}

.start-game-container img{
  width: 270%;
}

.start-game-button {
  cursor: pointer; /* 鼠标悬停时显示指针 */
}

#score-list {
  list-style: none;
  padding: 0;
}

#score-list li {
  margin-bottom: 10px;
  background: #eee;
  padding: 5px;
  border-radius: 8px;
}

.hidden {
  display: none;
}

#game-over-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
}

.game-over-content {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}