body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  /* background-color: #2f2b48; */
  margin: 0;
  padding: 0;
}
canvas {
  border: 3px solid rgb(203, 203, 203);
}

img {
  display: block;
  width: 100%;
  margin-top: 170px;
}

button {
  display: block; /* 将按钮置于新行 */
  margin: 10px auto; /* 居中按钮并添加一些外边距 */
}

.intropage-container {
  position: relative;
}

.intropage-container img{
  /* top: -20%; */
  height: auto; /* 保持图片的纵横比 */
  display: block; /* 防止图片下方出现额外空间 */
}

.start-game-container{
  position: absolute; /* 绝对定位 */
    top: 100%; /* 垂直位置，根据需要调整 */
    left: 46%; /* 水平位置，根据需要调整 */
    transform: translate(-50%, -50%); /* 使按钮居中 */
    z-index: 10; /* 确保按钮显示在图片之上 */
}

.start-game-container img{
  width: 150%;
}

.start-game-button {
  cursor: pointer; /* 鼠标悬停时显示指针 */
}